<div class="project">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <p id="introduction">
            Hello, my name is Yongjun Park.
            I am currently a junior at the University of Washington, majoring in Informatics in the Information School.
            I created this webpage to display some of the cool things I've worked on in the past.
            If you would like to contact me, please refer to my contact information.
            </p>
        </div>
        <div id="contact" class="col-xs-12 col-md-4">
            <h5>Contact Information</h5>
            <address>
                <strong>Yongjun Park</strong><br>
                +1 425 248 1843<br>
                yongjp94@uw.edu<br>
            </address>
        </div>
    </div>
</div>